streamlit
python-dotenv
langchain-core
langchain-classic
langchain-openai
langchain-huggingface
langchain-chroma
langchain-community
sentence-transformers
chromadb
pypdf
protobuf~=3.19.0
pysqlite3-binary

